{#{% if admin.isGranted('EDIT', object) and admin.hasRoute('edit') %}#}
<a href="{{ admin.generateObjectUrl('sendMaterial', object ) }}" class="btn btn-sm  edit_link" >
    <i class="glyphicon glyphicon-edit"></i>
    Send Material
</a>
{#{% endif %}#}
