{#{% if admin.isGranted('EDIT', object) and admin.hasRoute('edit') %}#}
{% if object.reviewStatus is defined %}
    {% if object.reviewStatus == "Ready" or object.reviewStatus == "Reviewing by Media"  %}
        <a href="{{ admin.generateObjectUrl('sendMaterial', object) }}" class="btn btn-sm  edit_link" >
            <i class="glyphicon glyphicon-edit"></i>
            Media Management
        </a>
    {% endif %}

    {% if object.reviewStatus != "Passed" or object.reviewStatus == "refused"  %}
        <a href="{{ admin.generateObjectUrl('sendMaterial', object) }}" class="btn btn-sm" >
            <i class="glyphicon glyphicon-default"></i>
            Edit
        </a>
    {% endif %}
{% endif %}




{#{% endif %}#}
